@font-face {
  font-family: 'CustomFont';
  src: url('/Assets/Fonts/Pixelation.ttf') format('truetype');
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'CustomFont', sans-serif;
  background-color: rgb(0, 0, 0);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

#floating-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.floating-dot {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
}

#startScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  padding: 50px;
  border: 2px solid white;
  z-index: 2;
}
#startScreen h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
#startScreen button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}
#startScreen #credits {
  margin-top: 10px;
  font-size: 14px;
}

#instructions {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,0.7);
  border: 2px solid white;
  padding: 20px;
  display: none;
  z-index: 3;
}


#errorScreen {
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-50%, -50%);
  display: none;
  font-size: 40px;
}
#replayButton {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  padding: 10px 20px;
  font-size: 20px;
}


#game-wrapper {
  width: 700px;
  height: 750px;
  position: relative; 
}

\#game-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.519);
  border: 3px solid white;
  overflow: hidden;
  z-index: 1;
}

.wall {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.668); 
}

.dot {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(255, 255, 0);
}

#player {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 208, 255);
  z-index: 2;
}

#score-container {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 18px;
}
