html, body {
  margin: 0;
  padding: 0;
  font-family:'Arial Narrow', sans-serif;
}
canvas {
  display: block;
}

h1 {
color: hsl(313, 100%, 50%)
text-align: center;
}

Selector {
  property: property value;
  property2: property value;
}